body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 24px; }
body .container {
  max-width: 905px; }

/*first section*/

.header .header__title {
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 30px;
  line-height: 24px; }
.header .header__title .header__title__link {
  font-weight: 300;
  color: #212529; }
.header .header__title .header__title__link:hover {
  text-decoration: none; }

.header .header__hr {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

/* two section*/

.credit .credit__company {
  padding-left: 0; }
.credit .credit__company .credit__logo {
  width: 145px;
  height: 50px; }
.credit .credit__company .credit__title {
  margin: 0;
  margin-top: 7px;
  font-size: 24px;
  line-height: 28px; }
.credit .credit__company .credit__bank_name {
  color: rgba(0, 0, 0, 0.3);
  width: 100%;
  line-height: 24px; }
.credit .credit__company .credit__raiting {
  background-image: url("../assets/img/star-icon.svg");
  width: 77px;
  height: 15px;
  display: block; }

.credit .credit__info {
  padding-left: 0;
  margin-top: 10px; }
.credit .credit__info .credit__info__list {
  margin-bottom: 0;
  font-size: 14px;
  color: #333;
  padding-left: 0;
  list-style: none; }

.credit .credit__hr {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

/*three section */
.security .security__container {
  padding-left: 0;
  padding-top: 43px; }
.security .security__list {
  padding-left: 0; }
.security .security__list .security__list_item {
  list-style: none;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400; }
.security .security__list .security__list_item .security_item__logo {
  width: 3.5%;
  display: inline-block;
  margin-right: 4px; }
.security .security__list .security__list_item .security_item__title {
  margin-bottom: 0;
  display: inline-block;
  color: #a9a9a9; }
/*four section !*/
.contact .contact__form_wraper {
  padding-bottom: 20px; }

.contact .contact__title {
  font-size: 28px;
  line-height: 33.6px;
  margin: 27px 0 10px; }

.contact .contact__subtitle {
  font-size: 14px;
  line-height: 16px;
  display: block; }

.contact .form-group {
  margin-bottom: 0;
  height: 38px;
  margin-top: 18.5px; }

.contact .contact__form .contact__form__input {
  z-index: 22;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0;
  outline: none;
  font-family: 'Source Sans Pro', sans-serif;
  box-shadow: none;
  padding-left: 5px;
  color: #000; }

.contact__form__input:focus { border-bottom-color: blue !important; }

.contact .contact__form .danger {
  border-bottom-color: red;
}
.contact .contact__form .success {
  border-bottom-color: green;
}

.contact .contact__form .contact__form__input:focus + .contact__form__input_label {
  position: relative;
  top: -52px;
  font-size: 12px; }
.contact__form__input_label_focused {
  position: relative;
  top: -52px;
  font-size: 12px;
}

.contact .contact__form .contact__form__input_label {
  position: relative;
  z-index: 0;
  top: -30px;
  color: #495057; }
.error-message {
  font-size: 10px;
  color: red;
  float: right;
}

.contact .contact__form .contact__form__check_wrapper {
  margin-top: 20px;
  margin-bottom: 10px; }
.contact .contact__form .contact__form__check_wrapper .form-check {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  margin-bottom: 3px;
  padding-bottom: 2px; }
.form-check.error-form-check {
  border-bottom-color: red !important;
}
.contact .contact__form .contact__form__check_wrapper .form-check:last-of-type {
  border-bottom: none; }
.contact .contact__form .contact__form__check_wrapper .contact__form__checkbox_label {
  font-size: 14px;
  line-height: 20px;
  display: inline;
  color: rgba(0, 0, 0, 0.6); }
.contact .contact__form .contact__form__check_wrapper .contact__form__checkbox_label:hover {
  cursor: pointer; }
.contact .contact__form .contact__form__check_wrapper .form-check-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  left: 22px;
  top: 2px;
  z-index: 2; }
.contact .contact__form .contact__form__check_wrapper .contact__form__check_wrapper__fake_checkbox {
  position: absolute;
  top: 5px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.15); }
.checkbox-error {
  position: absolute;
  top: 5px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #FFF;
  border: 1px solid red;
}
.contact .contact__form .contact__form__check_wrapper .contact__form__check_wrapper__fake_checkbox:hover {
  cursor: pointer; }
.contact .contact__form .contact__form__check_wrapper .contact__form__check_wrapper__fake_checkbox:after {
  content: "";
  position: absolute;
  display: none; }
.contact .contact__form .contact__form__check_wrapper .contact__form__check_wrapper__fake_checkbox:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid rgba(0, 0, 0, 0.5);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.contact .contact__form input:checked ~ .contact__form__check_wrapper__fake_checkbox:after {
  display: block; }

.link-more {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.9); }

.link-more:hover {
  cursor: pointer; }
.text-more {
  display: block;
  font-size: 12px;
}
.text-more-hidden {
 display: none;
}

.contact .contact__form .contact__contact_form__submit {
  margin-top: 10px;
  background-color: #57A403;
  width: 100%;
  font-size: 17px;
  border: none;
  margin-bottom: 20px;
  height: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-weight: bold; }
.contact .contact__form .contact__contact_form__submit:active {
  background-color: #57A403;
  border-color: #57A403; }
.contact .contact__form .contact__contact_form__submit:focus {
  box-shadow: none; }

.contact .contact__form .btn-primary:not(:disabled):not(.disabled):active:focus, .contact .contact__form .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none; }
/*contact Tolltip */

.tooltip-contact {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  z-index: 50;
  float: right;
  top: -27px;
  left: 6px;
  border: 1px solid darkgrey;
  border-radius: 81%;
  text-align: center;
  font-size: 18px;
}
.tooltip-contact .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  left: -126px;
  position: absolute;
  z-index: 1;
  font-size: 12px;
  height: 100px;
  font-family: 'Source Sans Pro', sans-serif;
  top: -35px;
}
.tooltip-contact:hover {
  cursor: pointer;
}
.tooltip-contact:hover .tooltiptext {
  visibility: visible;
}

/*footer*/
.footer {
  background-color: #26282b;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #a9a9a9;
  font-size: 14px;
  padding-top: 10px; }
.footer .container {
  padding-left: 0; }
.footer .footer__list {
  padding-left: 0;
  display: inline-block; }
.footer .footer__list .footer__list__item {
  display: inline-block;
  margin-right: 7px;
  opacity: .6; }
.footer .footer__list .footer__list__item a {
  color: #FFF; }
.footer .footer__wp_content {
  float: right;
  display: inline-block; }
.footer .footer__wp_content .footer__wp_content__logo {
  margin-right: 5px; }
