body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 24px; }
.container {
  max-width: 905px; }

/*first section*/
.test {
  background-color: orange !important;
}

/*.header .header__title {*/
  /*margin-top: 30px;*/
  /*margin-bottom: 50px;*/
  /*font-size: 30px;*/
  /*line-height: 24px; }*/
/*.header .header__title .header__title__link {*/
  /*font-weight: 300;*/
  /*color: #212529; }*/
/*.header .header__title .header__title__link:hover {*/
  /*text-decoration: none; }*/

/*.header .header__hr {*/
  /*width: 100%;*/
  /*border-top: 1px solid rgba(0, 0, 0, 0.1); }*/

/* two section*/

/*.credit .credit__company {*/
  /*padding-left: 0; }*/
/*.credit .credit__company .credit__logo {*/
  /*width: 145px;*/
  /*height: 50px; }*/
/*.credit .credit__company .credit__title {*/
  /*margin: 0;*/
  /*margin-top: 7px;*/
  /*font-size: 24px;*/
  /*line-height: 28px; }*/
/*.credit .credit__company .credit__bank_name {*/
  /*color: rgba(0, 0, 0, 0.3);*/
  /*width: 100%;*/
  /*line-height: 24px; }*/
/*.credit .credit__company .credit__raiting {*/
  /*background-image: url("../assets/img/star-icon.svg");*/
  /*width: 77px;*/
  /*height: 15px;*/
  /*display: block; }*/

/*.credit .credit__info {*/
  /*padding-left: 0;*/
  /*margin-top: 10px; }*/
/*.credit .credit__info .credit__info__list {*/
  /*margin-bottom: 0;*/
  /*font-size: 14px;*/
  /*color: #333;*/
  /*padding-left: 0;*/
  /*list-style: none; }*/

/*.credit .credit__hr {*/
  /*width: 100%;*/
  /*border-top: 1px solid rgba(0, 0, 0, 0.1); }*/

/*three section */
/*.security .security__container {*/
  /*padding-left: 0;*/
  /*padding-top: 43px; }*/
/*.security .security__list {*/
  /*padding-left: 0; }*/
/*.security .security__list .security__list_item {*/
  /*list-style: none;*/
  /*margin-bottom: 10px;*/
  /*font-size: 14px;*/
  /*font-weight: 400; }*/
/*.security .security__list .security__list_item .security_item__logo {*/
  /*width: 3.5%;*/
  /*display: inline-block;*/
  /*margin-right: 4px; }*/
/*.security .security__list .security__list_item .security_item__title {*/
  /*margin-bottom: 0;*/
  /*display: inline-block;*/
  /*color: #a9a9a9; }*/
/*four section !*/

/*.contact .contact__title {*/
  /*font-size: 28px;*/
  /*line-height: 33.6px;*/
  /*margin: 27px 0 10px; }*/

/*.contact .contact__subtitle {*/
  /*font-size: 14px;*/
  /*line-height: 16px;*/
  /*display: block; }*/

/*.contact .form-group {*/
  /*margin-bottom: 0;*/
  /*height: 39px;*/
  /*margin-top: 24px; }*/

/*.contact .form-group:nth-last-of-type(2n+0) {*/
  /*margin-bottom: 15px; }*/

/*.contact .contact__form .contact__form__input {*/
  /*z-index: 22;*/
  /*border: none;*/
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.3);*/
  /*border-radius: 0;*/
  /*outline: none;*/
  /*font-family: 'Source Sans Pro', sans-serif;*/
  /*font-weight: bold;*/
  /*box-shadow: none;*/
  /*padding-left: 5px;*/
  /*color:  #495057;*/
   /*}*/

/*.contact__form__input:focus { border-bottom-color: #495057 !important; }*/

/*.contact .contact__form .danger {*/
  /*border-bottom-color: red;*/
/*}*/
/*.contact .contact__form .success {*/
  /*border-bottom-color: #57A403;*/
/*}*/

/*.contact .contact__form .contact__form__input:focus + span .contact__form__input_label {*/
  /*position: relative !important;*/
  /*top: -60px !important;*/
  /*font-size: 12px !important; }*/
/*.contact__form__input_label_focused {*/
  /*position: relative;*/
  /*top: -60px;*/
  /*font-size: 12px;*/
/*}*/

/*.contact .contact__form .contact__form__input_label {*/
  /*position: relative;*/
  /*z-index: 0;*/
  /*top: -30px;*/
  /*color: #495057; }*/

/*.error-message {*/
  /*font-size: 10px;*/
  /*color: red;*/
  /*float: right;*/
/*}*/


/*.contact .contact__form  .form-check {*/
  /*border-bottom: 1px dotted rgba(0, 0, 0, 0.3);*/
  /*cursor: pointer;*/
  /*z-index: 2;*/
  /*font-size: 12px;*/
  /*margin-bottom: 0;*/
  /*padding-top: 5px; }*/
/*.form-check.error-form-check {*/
  /*border-bottom-color: #ce0237 !important;*/
/*}*/

/*.check:last-of-type .form-check {*/
  /*border-bottom: none;*/
  /*padding-left: 20px;*/
/*}*/
/*.check:last-of-type .form-check label {*/
  /*padding-left: 0;*/
/*}*/
/*.check:last-of-type .form-check .text-more {*/
  /*padding-left: 0;*/
/*}*/
/*.contact .contact__form .contact__form__checkbox_label {*/
  /*font-size: 12px;*/
  /*line-height: 20px;*/
  /*display: inline;*/
  /*color: rgba(0, 0, 0, 0.6); }*/
/*.contact .contact__form  .contact__form__checkbox_label:hover {*/
  /*cursor: pointer; }*/
/*.contact .contact__form  .form-check-input {*/
  /*position: absolute;*/
  /*opacity: 0;*/
  /*cursor: pointer;*/
  /*left: 22px;*/
  /*top: 2px;*/
  /*z-index: 2; }*/
/*.contact .contact__form  .contact__form__check_wrapper__fake_checkbox {*/
  /*position: absolute;*/
  /*top: 9px;*/
  /*left: 0;*/
  /*height: 15px;*/
  /*width: 15px;*/
  /*display: block;*/
  /*background-color: #FFF;*/
  /*border: 1px solid rgba(0, 0, 0, 0.15); }*/
/*.contact__form__check_wrapper__fake_checkbox.checkbox-error {*/
  /*border-color: #ce0237 !important;*/
/*}*/
/*.contact .contact__form  .contact__form__check_wrapper__fake_checkbox:hover {*/
  /*cursor: pointer; }*/
/*.contact .contact__form  .contact__form__check_wrapper__fake_checkbox:after {*/
  /*content: "";*/
  /*position: relative;*/
  /*display: none; }*/
/*.contact .contact__form .contact__form__check_wrapper__fake_checkbox:after {*/
  /*left: 4px;*/
  /*top: 1px;*/
  /*width: 5px;*/
  /*height: 10px;*/
  /*border: solid rgba(0, 0, 0, 0.5);*/
  /*border-width: 0 2px 2px 0;*/
  /*-webkit-transform: rotate(45deg);*/
  /*-ms-transform: rotate(45deg);*/
  /*transform: rotate(45deg); }*/

/*.contact .contact__form input:checked + .contact__form__check_wrapper__fake_checkbox:after {*/
  /*display: block; }*/

/*.link-more {*/
  /*font-size: 14px;*/
  /*line-height: 20px;*/
  /*color: rgba(0, 0, 0, 0.9); }*/

/*.link-more:hover {*/
  /*cursor: pointer; }*/
/*.text-more {*/
  /*display: block;*/
  /*font-size: 11px;*/
  /*line-height: 17px;*/
  /*padding-left: 22px;*/
/*}*/
/*.text-more-hidden {*/
 /*display: none;*/
/*}*/
/*.contact .contact__form .check:first-of-type {*/
  /*margin-top: 20px !important;*/
/*}*/
/*.contact .contact__form .contact__contact_form__submit {*/
  /*margin-top: 12px;*/
  /*background-color: #57A403;*/
  /*width: 100%;*/
  /*font-size: 17px;*/
  /*border: none;*/
  /*margin-bottom: 20px;*/
  /*height: 50px;*/
  /*font-family: 'Source Sans Pro', sans-serif;*/
  /*text-transform: uppercase;*/
  /*font-weight: bold; }*/
/*.contact .contact__form .contact__contact_form__submit:active {*/
  /*background-color: #57A403;*/
  /*border-color: #57A403; }*/
/*.contact .contact__form .contact__contact_form__submit:focus {*/
  /*box-shadow: none; }*/

/*.contact .contact__form .btn-primary:not(:disabled):not(.disabled):active:focus, .contact .contact__form .show > .btn-primary.dropdown-toggle:focus {*/
  /*box-shadow: none; }*/
/*contact Tolltip */


/*footer*/
