.contact .form-group {
    margin: 24px 0 0 0 ;
    height: 39px; }

.contact .contact__form .contact__form__input.danger { border-bottom-color: red; }

.contact .contact__form .contact__form__input.success { border-bottom-color: #57A403; }

.contact .form-group:nth-last-of-type(2n+0) { margin-bottom: 15px; }
/* inputs type text*/
.contact .contact__form .contact__form__input {
    z-index: 10;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0;
    outline: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    box-shadow: none;
    color:  #495057; }

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.contact__form__input:focus { border-bottom-color: #495057 !important; }

/*input type text -> label*/


.contact .contact__form .contact__form__input_label {
    position: relative;
    z-index: 0;
    top: -30px;
    color: #495057; }

.contact .contact__form .contact__form__input:focus + span .contact__form__input_label {
    top: -60px !important;
    font-size: 12px !important; }

.contact__form__input_label_focused {
    position: relative;
    top: -60px;
    font-size: 12px;
}
/* @TODO Przerobic focues*/

.contact .contact__form .check:first-of-type { margin-top: 20px !important; }

.check .form-check {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 2;
    font-size: 12px;
    margin-bottom: 0;
    padding-top: 5px; }

.check:last-of-type .form-check {
    border-bottom: none;
    padding-left: 20px; }

.form-check.error-form-check { border-bottom-color: #ce0237 !important; }

.contact .form-check  .form-check-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 22px;
    top: 2px;
    z-index: 2; }

.contact .form-check  .contact__form__check_wrapper__fake_checkbox {
    position: absolute;
    top: 9px;
    left: 0;
    height: 15px;
    width: 15px;
    display: block;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.15); }

.contact .check:last-of-type  .contact__form__check_wrapper__fake_checkbox {
    top: 20px;
    left: 0;
}

.contact__form__check_wrapper__fake_checkbox.checkbox-error { border-color: #ce0237 !important; }

.contact .contact__form  .contact__form__check_wrapper__fake_checkbox:hover { cursor: pointer; }

.contact .contact__form .contact__form__check_wrapper__fake_checkbox:after {
    content: "";
    position: relative;
    display: none;
    left: 4px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid rgba(0, 0, 0, 0.5);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

.contact .contact__form input:checked + .contact__form__check_wrapper__fake_checkbox:after { display: block; }

.contact .contact__form .contact__form__checkbox_label {
    font-size: 12px;
    line-height: 20px;
    display: inline;
    color: rgba(0, 0, 0, 0.6); }

.contact .contact__form  .contact__form__checkbox_label:hover { cursor: pointer; }

.check:last-of-type .form-check .contact__form__checkbox_label { padding-left: 0; }

.link-more {
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.9); }

.link-more:hover { cursor: pointer; }

.text-more {
    display: block;
    font-size: 11px;
    line-height: 17px;
    padding-left: 22px; }

.check:last-of-type .form-check .text-more { padding-left: 0; }

.text-more-hidden { display: none; }

.contact .contact__form .contact__contact_form__submit {
    margin-top: 12px;
    background-color: #57A403;
    width: 100%;
    font-size: 17px;
    border: none;
    margin-bottom: 20px;
    height: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: bold; }

.contact .contact__form .contact__contact_form__submit:hover { cursor: pointer; }

.contact .contact__form .contact__contact_form__submit:active {
    background-color: #57A403;
    border-color: #57A403; }

.contact .contact__form .contact__contact_form__submit:focus {
    box-shadow: none; }

.contact .contact__form .btn-primary:not(:disabled):not(.disabled):active:focus, .contact .contact__form .show > .btn-primary.dropdown-toggle:focus { box-shadow: none; }

.error-message {
    font-size: 10px;
    color: red;
    float: right; }

.icon-exclamation {
    float: right;
    color: red;
    position: absolute;
    left: 385px;
}

.icon-ok{
    position: absolute;
    color: green;
    float: right;
    left: 385px;
}
